body {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    font-family: 'Bebas Neue', sans-serif;

}

h1,
h2 {
    text-align: center;
    color: #ffffff;
}

/* TOP BAR THAT HOLDS ALBUM ICONS */
#img-container {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.35);
    flex-wrap: wrap;
    margin: 0 auto;
    border: 10px solid rgba(0, 0, 0, 0.3);
    height: 350px;
    width: 1200px;
}
.album-cover {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    transition: 300ms;
}
.album-cover:hover {
    position: relative;
    height: 110px;
    width: 110px;
}


h3 {
    color: #ffffff;
}

#popularity-form {
    color: #ffffff;
}

/* CONTAINERS FOR USER INPUTS */
#pop-score,
#query {
    background-color: black;
    color: #ffffff;
    border-radius: 700px;
    border-color: #ffffff;
    height: 25px;
    width: 200px;
}

#update-button,
button {
    background-color: #00c8ff;
    color: #ffffff;
    border-radius: 700px;
    height: 25px;
}

#album-title,
.track,
.wished,
#score {
    color: #ffffff;
}

#title-head,
#album-title {
    display: inline;
}

#container {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

#text-content,
#track-list {
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
}

#main-display {
    border-radius: 8px;
    height: 500px;
    width: 500px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    vertical-align: top;
    transition: 300ms;
}

.main-image {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 1%;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

#main-display:hover{
    height: 525px;
    width: 525px;
}

#title-head,
#album-title,
#wish-list {
    display: inline;
}

#wish-container {
    vertical-align: top;
    padding-left: 5%;
    padding-top: 0.5%;
}

#popularity-score,
#score {
    display: inline;
}

#popularity-form {
    display: block;
}

#track-list {
    display: wrap;
}