body {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    font-family: 'Bebas Neue', sans-serif;
}

h1,
h2 {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    border:rgba(0, 0, 0, 0.8);
}

/* TOP BAR THAT HOLDS ALBUM ICONS */
#img-container {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0);
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 8px;
    height: 340px;
    width: 1200px;
}
.album-cover {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0);
    transition: 300ms;
}
.album-cover:hover {
    position: relative;
    height: 110px;
    width: 110px;
    box-shadow: 0 0 8px rgba(0, 0, 0, black);
}


h3 {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

#popularity-form {
    color: #ffffff;
}

/* CONTAINERS FOR USER INPUTS */
#pop-score,
#query {
    background-color: black;
    color: #ffffff;
    border-radius: 700px;
    border-color: #ffffff;
    height: 25px;
    width: 200px;
    font-family: 'Bebas Neue', sans-serif;
}

#update-button,
button {
    background-color: #0095be;
    color: #ffffff;
    border-radius: 700px;
    height: 30px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    text-shadow: 1px 1px #000000;
}

#album-title,
.track,
.wished,
#score {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

#title-head,
#album-title {
    display: inline;
}

#container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 1.5%;
}

#text-content {
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
    width: 500px;
    vertical-align: top;
    box-shadow: 0 0 8px rgba(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
}

#main-display {
    border-radius: 10px;
    height: 500px;
    width: 500px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    vertical-align: top;
    transition: 300ms;
}

.main-image {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

#main-display:hover{
    height: 525px;
    width: 525px;
}

#title-head,
#album-title,
#wish-list {
    display: inline;
}


#wish-container {
    vertical-align: top;
    padding-left: 1.5%;
    box-shadow: 0 0 8px rgba(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
}

#popularity-score,
#score {
    display: inline;
}

#popularity-form {
    display: block;
}

#track-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 336px;
    padding: 2%;
    flex-direction: column;
    justify-content: flex-start;
}
#wish-button{
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 0px;
    display: block; 
}
#wish-list {
    list-style: none;
}
#form-head {
    padding-top: 150px;
    text-align: bottom;
}
p {
    font-size: 25px;
}
